$accent: #fe3e57;
$dofaulr: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%quicksand-400{
         font-family: 'Quicksand-Regular',sans-serif;
      font-weight: 400;
}
%quicksand-500{
         font-family: 'Quicksand-Medium',sans-serif;
      font-weight: 500;
}
%roboto-400{
         font-family: 'Roboto-Regular',sans-serif;
      font-weight: 400;
}
%roboto-700{
         font-family: 'Roboto-Bold',sans-serif;
      font-weight: 700;
}

%btn{
     background-color: $accent;
        text-transform: uppercase;
        @extend %roboto-400;
        padding: 12px 26px;
        color: #fff;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
        border:none;
}

%text{
   text-align: center;
   max-width: 550px;
   margin: 0 auto;
   margin-bottom: 50px;
}
%checbox-hidden{
   font-size: 0;
   display: none;
   width: 0px;
   height: 0px;
   clip:rect(0 0 0 0);
}
