<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/contacts.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}
    <main class="main">
        <div class="section__top">
            <div class="top__container" style=" background-image: url('images/breadcrumbs-bog.jpg');">
                <h2 class="top__title title">CONTACT US</h2>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a class="breadcrumbs__link" href="#">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span class="breadcrumbs__link" href="#">
                                CONTACT
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="map">
            <div class="container">
                <div id="map"></div>
            </div>
        </section>
        <section class="contact">
            <div class="container">
                <div class="contact__inner">
                    <div class="contact__info">
                        <h3 class="contact__info-title">
                            Feel Free Don’t
                            Hesitate To
                            Contact With Us
                        </h3>
                        <p class="contact__info-text">
                            Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                            Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan lacus vel
                            facilisis.
                        </p>
                        <ul class="contact__info-list">
                            <li class="contact__info-item">
                                <a class="contact__info-phone" href="tel:012345-7896"></a>+0-123-456-7896
                                <a class="contact__info-phone" href="tel:012345-7896">+0-123-456-7896</a>
                            </li>
                            <li class="contact__info-item contact__info-item-location">
                                Ranlon Market 789 Road, <br>
                                Market Street, Newyork
                            </li>
                            <li class="contact__info-item contact__info-item--email">
                                <div> yourmailaddress@gmail.com</div>
                                <div>companymail@gmail.com</div>
                            </li>
                        </ul>
                    </div>
                    <form class="contact__form" action="#">
                        <p class="contact__form-title">

                        </p>
                        <div class="contact__form-box">
                            <input type="text" class="contact__form-input" placeholder="Your Name">
                            <input type="text" class="contact__form-input" placeholder="Your E-mail Address">
                        </div>
                        <input type="text" class="contact__form-input" placeholder="Subject">
                        <textarea class="contact__form-textarea" placeholder="Message here"></textarea>
                        <button class="contact__form-btn" type="submit">
                            SEND MESSAGE
                        </button>
                    </form>
                </div>
            </div>
        </section>

    </main>   
    {% include 'app/module/_footer/_footer.html' %}




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&v=weekly" async></script>
    <script>let map;

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 40.71921734876476, lng: -74.01054864512987 },
                zoom: 13,
            });
        }</script>
    <script src="js/libs.min.js"></script>
    <script src="js/main.min.js"></script>

</body>

</html>